.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
}

.home__page__container{
  display: flex;
  justify-content: space-between;
  height: 100vh;
}


.editor__page--html, .editor__page--css , .editor__page--js
{
  border: 1px solid black;
  width: 33.3%;
}

.editor__page__container{
  border:1px solid black;
  height: 60%;
  display: flex;
}

.peer__page__container{
  width: 18%;
  height: 100%;
}

.button__container button{
  width: 70%;
  height: max-content;
  background: green;
  margin: 10px;
}
.video__page__container{
  padding: 10px;
  width: 25%;
  height: 100%;
  border: 1px solid black;
  background: black;
  display: flex;
  flex-direction: column;
  
}
.button__container{
  text-align: center;
}

video{
  border-radius: 10px;
}

.header__container{
  background: #302d2d;
}


.icon__container , .right__icon__container{
  color: white;
  width: 15%;
}
.icon__container{
  display: flex;
  justify-content: space-around;
}
.domain__container{
  display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
}
.domain__url{
  width: 70%;
  display: flex;
  justify-content: center;
  
}
.url__container{
  color: white;
  flex: 1;
    background: black;
    margin: 0 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 20px;
}
/* .cm-s-dracula.CodeMirror, .cm-s-dracula .CodeMirror-gutters {
  min-height: 325px;
} */

.editor__code__container .cm-s-dracula.CodeMirror, .cm-s-dracula .CodeMirror-gutters{
  min-height: 528px;
}

.editor__code__container .Java{
  width: 70%;
  height: 100%;
}
.editor__title{
  background: #303033  !important;
  text-transform: capitalize;
  text-align: center;
  box-shadow: 2px 2px  gray;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  height: 33px;
  align-items: center;
}
.editor__title p{
  color: gray;
  margin: 0;
  text-transform: capitalize;
  font-weight: bold;
}

.language__container{
  width: 77%;
}

.iframe__container{
  min-height: 244px;
}

.dropdown__option__container{
  display: flex;
  background: transparent;
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255,255,255,0.18);
  align-items: center;
  padding: 2px;
  margin: 2px;
  gap: 20px;
}

.dropdown__option__container select{
  color: gray;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: transparent;
  margin-top: -8px;
  cursor: pointer;
}

.dropdown__option__container select{
  
}

p{
  margin: 0;
}

html{
  word-wrap: break-word;
  overflow-x: hidden;
}

.editor__code__container .results__container{
  border: 1px solid rgb(70, 71, 70);
  margin: 0px 5px;
  width: 30%;
}
.editor__code__container button{
  background-color: lightgreen;
}

@media (max-width:920px)
{
  .iframe__container{
    min-height: 0;
  } 

  .editor__code__container .cm-s-dracula.CodeMirror, .cm-s-dracula .CodeMirror-gutters{
    min-height: 492px;
  }

  .editor__code__container .Java{
    padding: 0;
  }
}